<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{cabecalho :: head}"></div>
    <title>Crud Manager - Empresas</title>
</head>
<body>
    <div class="container my-4">
        <h1>Empresas</h1>
        
        <div th:if="${error}" id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
		    <span th:text="${error}"></span>
		    <button type="button" class="close" onclick="document.getElementById('error-alert').style.display='none'" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		    </button>
		</div>

        <div>                
            <a class="btn btn-primary btn-sm mb-3 float-right" th:href="@{/empresas/form}">Adicionar Empresa</a>
        </div>
        <table class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Setor</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empresa : ${empresas}">
                    <td th:text="${empresa.name}"></td>
                    <td th:text="${empresa.cnpj}"></td>
                    <td th:text="${empresa.industry}"></td>
                    <td th:text="${empresa.phone}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/empresas/{id}(id=${empresa.id})}">Alterar</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/empresas/delete/{id}(id=${empresa.id})}">Excluir</a>            
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
		<div class="text-center my-3">
		    <a th:href="@{/}" class="mx-2">Página Inicial</a> | 
		    <a th:href="@{/users}" class="mx-2">Gerenciar Usuários</a> | 
		    <a th:href="@{/empresas}" class="mx-2">Gerenciar Empresas</a> | 
		    <a th:href="@{/projetos}" class="mx-2">Gerenciar Projetos</a>
		</div>
    </div>
</body>
</html>